@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

.search-bar{
    background-color: #7f788a;
    border:none;
    padding: 15px;
    font-size: 12px;
    color: #f8e3ca;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    width: 35%;
}
.search-bar::placeholder{
    color: #f8e3ca;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}
.search-bar:focus{
    outline: none;
}